:root {
    --main-color: #5611a5;
    --grey: #7d7992;
    --blue: #2578fa;
    --lighter-blue: rgba(37, 120, 250, 0.25);
    --white: #fff;
    --green-water: #27e0fc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.dflex {
    display: flex;
}

.column {
    flex-direction: column;
}

.main-center {
    justify-content: center;
}

.cross-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-end {
    justify-content: flex-end;
}

.round-border {
    border-radius: 7px;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    padding: 2% 5%;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.mt-27px {
    margin-top: 27px;
}

/* HEADER */
header {
    justify-content: space-around;
}

.header-buttons a,
.menu {
    align-self: center;
    font-weight: 500;
}

.menu {
    color: var(--grey);
}

.menu a {
    margin-left: 10%;
}

.login {
    color: var(--main-color);
    margin-top: -3%;
    margin-right: 15%;
}

.login span {
    display: inline-block;
    background: url(../imgs/icone-login-teste-programador.png) no-repeat;
    width: 20px;
    height: 28px;
    scale: 0.8;
    transform: translate(-15px, 9px);
}

.signup {
    color: var(--blue);
    border: 1px solid var(--lighter-blue);
    padding: 5px 7%;
}

/* FOOTER */
footer {
    color: var(--white);
    background: top / cover no-repeat url(../imgs/fundo-footer-teste-programador.png.jpg);
    padding: 113px 12% 2% 12% !important;
}

footer .logo {
    filter: brightness(0) invert(1);
    scale: 0.6;
    margin: 0 0 0 -60px;
}

footer .logo a {
    margin-bottom: -37px;
}

.footer-menu a {
    display: block;
    margin: 40px 0;
}

.footer-menu:first-child i {
    margin-right: 5%;
}

.footer-menu:first-child a:first-of-type i {
    border: 3px solid var(--white);
    border-radius: 50%;
    width: 30px;
    font-size: 1.3rem;
    line-height: 25px;
}

.footer-menu:first-child a:last-of-type i {
    transform: translateY(4px) rotateY(180deg);
    font-size: 1.5rem;
}

.footer-menu .title {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 75px;
}

footer>div:last-of-type {
    justify-content: space-between;
    padding-top: 2%;
    border-top: 1px solid var(--white);
    margin-top: 7%;
}

.social-container {
    flex-basis: 200px;
}

.social-container a:not(:last-of-type) {
    margin-right: 17%;
}